@import url(colorVariables.css);
@import url(photoVariables.css);

*::selection {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    color: var(--text-visited-color);
}

a:hover {
    color: var(--highlight-color);
}

a:active {
    color: var(--text-active-color);
}
#mainFlex {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: var(--main-bg-pic);
}

#mainHeader {
    background-image: var(--header-texture-pic);
    display: flex;
    font-size: 3vh;
    font-weight: bold;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--header-color);
    width: 100vw;
    height: 10vh;
}
nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navButton {
    font-size: 4vh;
    display: flex;
    width: 35vw;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
}


#aboutHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vw 1vh;

}

#aboutHeader>img {
    border-radius: 50%;
    height: 8vh;
}


footer {
    display: flex;
    height: 10vh;
    background-color: var(--footer-color);
    background-image: var(--footer-texture-pic);
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

#socialFooter {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

#socialFooter>li>a>img {
    height: 4vh;
    width: 4vh;
}

#aboutLayout {
    display: grid;
    grid-template-rows: 10vh 30vh 10vh;
    grid-template-columns: 85vw;
    grid-template-areas:
        'header'
        'main'
        'contact';
    grid-gap: 0px;
   
}

#sectionContainer {
    display:flex;
    grid-area: main;
    font-size: 4vw;
}
#contactForm {
    display:flex;
    flex-direction:column;
    grid-area: contact;
    font-size: 3vw;
}
#contactform input[type="text"],
#contactform input[type="email"],
#contactform input[type="url"],
#contactform textarea {
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #000;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}