:root {
    /* palette imported from coolors.com */
    --header-color: #ccd5aeff;
    --bg-color: #e9edc9ff;
    --footer-color: #fefae0ff;
    --highlight-color: #8a6138;
    --highlight-text-color: #fff;
    --button-color: #f4d890;
    --text-color: #000;
    --text-visited-color: #555;
    --text-active-color: #5381ff;
}